.subscribe {
  background-color: var(--color-white);
  padding: 1.25rem;
  border-radius: 0.313rem;
  text-align: center;
}

.subscribe p {
  color: var(--color-hero-heading);
  font-size: 1rem;
  margin-top: 1.5rem;
}

.subscribe h1 {
  color: #212226;
  font-size: 3.5rem;
  margin-top: -0.5rem;
  margin-bottom: 2.4rem;
}

.subscribe button {
  background-color: var(--color-accent-pink);
  color: var(--color-white);
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 3.125rem;
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .subscribe {
    padding: 1.5rem;
    margin-right: -0.5rem;
    padding-top: 0.5rem;
    text-align: center;
  }

  .subscribe h1 {
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }

  .subscribe p {
    font-size: 0.9rem;
  }

  .subscribe button {
    font-size: 1rem;
    margin-bottom: 1.3rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .subscribe {
    /* Ensure consistent horizontal padding on tablets as well */
    padding: 1.25rem 1.5rem;
  }

  .subscribe h1 {
    font-size: 3rem;
  }

  .subscribe p {
    font-size: 1rem;
  }

  .subscribe button {
    padding: 1.1rem 2.2rem;
    font-size: 1.1rem;
  }
}
